@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
	border: 1px solid #666666;
	text-align: left;
	padding: 12px;
	margin-top: 20px;
}

th {
	background-color: #E6E6FA;
	color: #333333;
	text-transform: uppercase;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #E6E6FA;
}

tr:nth-child(odd) {
	background-color: #F8F8FF;
}

tr:hover {
	background-color: #f1f1f1;
	background-color: rgba(230, 230, 250, 0.2);
}

.titleFilter {
	text-align: center;
}

.titleFilter h2 {
	margin: 20px;
	padding-top: 40px;
}

.formFilter {
	display: flex;
	justify-content: center;
	gap: 60px;
	flex-wrap: wrap;
	margin: 40px;
}

.formFilter form>* {
	margin-bottom: 30px;
}

.button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
}

.error-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px 0;
}

.error-message {
	color: red;
	font-size: 1rem;
	font-weight: bold;
}