
body {
	padding: 0;
	background-color: #2f1847;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.containerHome {
    text-align:center;
	background-color: #1d1d1d;
	border-radius: 50px;
	box-shadow: 0 2px 10px #c62e65;
	color: #2f1847;
	margin: 250px 100px 100px 100px;
	padding: 20px;
	box-shadow: 0 0 15px 8px rgba(205, 164, 52, 0.2);
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	margin-bottom: 20px;
	color: #cda434;
	font-size:2rem;
}

.formHome {
	margin-bottom: 30px;
}

.form-group {
	margin: 50px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input, .form-group select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.btnSubmit {
	text-align: center;
	width: 100%;
}

.submitBtn {
	display: inline-block;
	padding: 10px 20px;
	background-color:#2f1847 ;
	color:  #e0c680;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.submitBtn:hover {
	background-color: #bfa458;
	color: white;
	transform: scale(1.1);
}

.train-details .info {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.train-details h2 {
	text-align: center;
	width: 100%;
}

label {
	color: #cda434;
	font-weight: bold;
}

.info strong {
	display: inline-block;
	width: 120px;
	margin-right: 12px;
}

.boxDanger{
color:red;
font-weight: bold;
font-size: 1.2rem;
}

.boxSuccess{
color:green;
font-weight: bold;
font-size: 1.2rem;
}