@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #2f1847;
	margin: 0;
}

 table {
    width:80%;
	margin-top: 20px;
	color:#000000;
}

th, td {
	border: 1px solid #666666;
	text-align: left;
	padding: 12px;
	margin-top: 20px;
	font-weight: bold;
}

th {
	background-color: #E6E6FA;
	color: #333333;
	text-transform: uppercase;
	font-weight: bold;
	color: #cda434;
}

tr:nth-child(even) {
	background-color: #E6E6FA;
	transition: transform 0.5s ease;
}

tr:nth-child(odd) {
	background-color: #F8F8FF;
	
}
 tbody tr{
	transition: transform 0.3s ease;
}

 tbody tr:hover{
	transform: scale(1.1);
}

tr:hover {
	background-color: #f1f1f1;
	
}
 
.titleOrder, .titleFilter {
	text-align: center;
}

.titleOrder h2 {
	margin: 20px;
	padding-top: 40px;
}

.formOrder {
	display: flex;
	justify-content: center;
	gap: 50px;
	flex-wrap: wrap;
	margin: 30px;
}

.submitBtn {
	padding: 10px 20px;
	background-color: #2f1847;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fafafa;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.submitBtn:hover {
	background-color: #cda434;
	color: #2f1847;
	transform: scale(1.1);
}

.containerRicerca {
	display: flex;
	flex-direction: column;
}
.containerOrder{
 background-color:#1d1d1d;
 margin: 100px;
 padding:20px;
 border-radius:50px;
 box-shadow: 0 0 15px 8px rgba(205, 164, 52, 0.2);
}

.formFilter {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

h2, h5, span {
	font-weight:bold;
	color: #cda434;
}

.hidden {
	display: none;
}

.uniform-input {
	width: 150px;
	box-sizing: border-box;
	margin-bottom: 5px;
}
.boxTable{
display:flex;
justify-content: center;
}
